<app-imagen></app-imagen>
<br>
<br>


<div class="container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <img src="https://s1.1zoom.me/big0/259/402532-sepik.jpg" alt="Random first slide" width="100%" height="500px">
          <div class="carousel-caption">
            <h3>"El que ama la lectura, tiene todo a su alcance."" </h3>
            <p>William Godwin</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="https://lh3.googleusercontent.com/proxy/6RalVCLG9TW9Aj5_KX7sT0lDvG8_tonMHKZ86GJ_FcEYgMcTXRZwDHINBwL2-wqOiglbbQ_-BbJqrpezUUHhGYEe6ztu0K7AORh-yhiq43o1mwVYC3dUU5mUx0-HcODjAljhVhcnz1A" alt="Random second slide" width="100%" height="500px">
          <div class="carousel-caption">
            <h3>Podran robarte las ideas pero no el talento</h3>
            <p>An&oacute;nimo</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="https://s1.1zoom.me/big3/780/348522-admin.jpg"  alt="Random third slide" width="100%" height="500px">
          <div class="carousel-caption">
            <h3>"Y si dejas de pensar y solo ¿lo intentas?"</h3>
            <p>An&oacute;nimo.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="https://ep00.epimg.net/elpais/imagenes/2013/04/22/viajero_astuto/1366582767_136658_1366582767_noticia_normal.jpg" alt="Random fourth slide"width="100%" height="500px">
          <div class="carousel-caption">
            <h3>"Cree en ti mismo y seras imparable."</h3>
            <p>Bego Romero.</p>
          </div>
        </ng-template>
      </ngb-carousel>
           <div class="col-md-2">
    </div>
  </div>
</div>
<br>
<br>
<h2>Hola bienvenidos a la mejor pagina de informacion sobre libros</h2>
<br>
<br>
<app-base></app-base>
<br>
<br>
</div>

<router-outlet></router-outlet>

<br>
<br>
<app-pie></app-pie>

